#WordLearn {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.sentenceBox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    border:1px solid #0066FF;
    border-radius:10px;

    font-family: 'Nanum Myeongjo', serif;
    font-size:25px;
    white-space:normal;

    padding:20px;
    line-height:30px;

    user-select:none;
}

#originalSentence {
}

#interpretation {
    cursor:pointer;
    margin-top: 10px;
    background-color:#0066FF;
    color:white;
    line-height:40px;
    min-height:150px;
}

#nextSentenceBtn {
    user-select:none;
    width: 250px;
    height: 80px;
    float:right;
    background-color: #0066ff;
    margin-top: 10px;
    border-radius: 8px;
    line-height:80px;
    color:white;
    font-size: 30px;
}

