.App {
  text-align: center;
}

#descriptionBtn {
  position:fixed;
  z-index:50;
  bottom: 30px;
  left:30px;
  width: 50px;
  height: 50px;
  border-radius:50px;
  background-color: #0066FF;
  line-height: 50px;
  color:white;
  user-select:none;
}

#descriptionBtn:hover {
  box-shadow: 10px 10px 30px transparent,
                -10px -10px 30px transparent,
                inset 10px 10px 30px rgba(14, 51, 135, 0.9),
                inset -10px -10px 30px rgb(94, 119, 209);
}

#descriptionWrapper {
  position:fixed;
  z-index:3;
  left:0; 
  top:0;
  display:grid;
  place-items: center;
  text-align:center;
  width: 100vw;
  height: 100vh;
}

#description { 
  width: 30vw;
  height: 70vh;
  background-color:white;
  border:1px solid #0066ff;
  border-radius: 10px;
  opacity: 0.9;
  color:black;
  padding: 20px;
}

#descriptionText { 
  
}