.wordList {
    width:100%;
    height:100%;
    display:flex;
    white-space: pre-wrap;
    flex-wrap:wrap;
}

.word {
    padding:10px;
    padding-right:0px;
}


.word:hover{
    background-color: #ededed;
    border-radius:5px;
}